@model IEnumerable<Dev.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>

<partial name="_ProductIndexPartial" model="@Model"></partial>